.Form {
    width: 400px;
    height: 270px;
    background-color: aliceblue;
    padding: 45px;
    position: relative;
}

.Form textarea {
    width: 300px;
    height: 150px;
    overflow-y: auto;
    border: none;
}

.Form textarea:focus {
    outline: 1px solid grey;
}

.Label-text {
    text-align: left;
    margin-bottom: 5px;
}

.Form button {
    padding: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    right: 65px;
    bottom: 60px;
}