.form-field-wrapper {
  width: 500px;
  margin: 0 auto;

  padding: 20px;
}

textarea.notes__input {
  resize: none;
  background-color: #fff;
  border-color: #e0e0e0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  border-width: 1px;
  border-style: solid;
  color: #474e57;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  width: 100%;
}

.textarea-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}
label.label {
  margin-bottom: 10px;
  color: cadetblue;
  font-weight: 600;
}
button.form-add__btn {
  position: absolute;
  right: 0;
  top: 70%;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  background-image: url(https://w7.pngwing.com/pngs/1003/979/png-transparent-computer-icons-message-email-sms-sms-miscellaneous-blue-angle.png);
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  border: none;
}
button.form-add__btn:hover {
  border: 1px solid rosybrown;
}

.notes-panel-forms {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.tooltipe__text {
  color: red;
  margin: 5px auto;
  font-size: 0.8rem;
  visibility: hidden;
}
